<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-6 mobile-display-none">
            <div class="login-img-content">
                <img src="assets/images/login.png" />
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="forgot-content">
                <form>
                    <div class="forgot-logo">
                        <img src="assets/images/logo.png" />
                    </div>
                    <h2 class="forgot-header">Forgot Password</h2>
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter Registered Email</mat-label>
                                <input matInput type="text" clearInput required >
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-6 col-sm-6">
                            <button class="send-button" mat-raised-button [routerLink]="['/', 'reset-password']">Send Mail</button>
                        </div>
                        <div class="col-md-12 col-lg-6 col-sm-6">
                            <button class="login-button" mat-raised-button [routerLink]="['/', 'login']">Login Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>