<div class="page-wrraper">
    <div class="profile-complete">
        <div class="profile-complete-card">
            <div class="profile-card-img">
                <img src="assets/images/logo.png">
            </div>
            <div class="profile-card-content">
                <h1>Complete profile details for tugather proceding.</h1>
            </div>
            <div class="profile-card-button">
                <button class="profile-edit-button" [routerLink]="['/', 'profile-edit',designerId]" mat-raised-button>Profile Edit</button>
            </div>
        </div>
    </div>
</div>